<div itemscope itemtype="https://schema.org/LocalBusiness">
	<meta itemprop="paymentAccepted" content="Espèces, chèque, carte bancaire" />
	<meta itemprop="openingHours" datetime="Mo,Tu,We,Th,Fr 08:30-20:00" />
	<span itemprop="legalName">Jacques Liabeuf</span><br>
	<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">12 Place de la République</span><br>
		<span itemprop="postalCode">26500</span> <span itemprop="addressLocality">Bourg-lès-Valence</span>
	</address>
	<span itemprop="telephone">04 75 42 44 69</span>
	<br>
	<a itemprop="hasMap" href="https://www.google.co.th/maps/place/Liabeuf+Jacques/@44.9411079,4.8906057,17z/data=!4m6!1m3!3m2!1s0x47f559d06601048d:0x120a196d54b0cda2!2sLiabeuf+Jacques!3m1!1s0x47f559d06601048d:0x120a196d54b0cda2" tagret="_blank"><img width="330" src="https://maps.googleapis.com/maps/api/staticmap?center=44.9411079,4.8906057&zoom=15&scale=1&size=330x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:med%7Ccolor:0xff0000%7Clabel:Here%7C44.9411079,4.8906057" alt="Cabinet de Jacques Liabeuf"></a>
</div>