<h5>Combien coûte une séance ?</h5>
<p>Les tarifs sont basés sur une nomenclature qui prend en compte la longueur et la difficulté de l'acte de soin. Vous pouvez consulter les tarifs auprès de votre caisse d'assurance maladie.</p>
<h5>Combien de temps dure une séance ?</h5>
<p>La durée d'une séance varie en fonction de la pathologie à soigner. Cependant, je consacre en moyenne 1h à chaque patient.</p>
<h5>Serais-je remboursé à 100% par la Sécurité Sociale ?</h5>
<p>La sécurité sociale couvre 60% du montant de la séance. Le reste sera complété par votre mutuelle. Dans la majorité des cas, la mutuelle couvre les 40% restants. Vous êtes donc remboursé à 100%. Je ne pratique pas de dépassement d'honoraires.</p>