<div class="row">

	<!-- Opening -->
	<section class="4u 12u(mobile)">
		<header>
			<h2 class="icon fa-clock-o circled"><span class="label">Horaires</span></h2>
		</header>
		{{ partial "widgets/hours.html" . }}
	</section>

	<!-- FAQ -->
	<section class="4u 12u(mobile)">
		<header>
			<h2 class="icon fa-question circled"><span class="label">Posts</span></h2>
		</header>
		{{ partial "widgets/faqs.html" . }}
	</section>

	<!-- Photos -->
	<section class="4u 12u(mobile)">
		<header>
			<h2 class="icon fa-map-marker circled"><span class="label">Adresse</span></h2>
		</header>
		{{ partial "widgets/address.html" . }}
	</section>

</div>