<nav id="nav">
	<ul>
		<li><a href="{{.Site.BaseURL}}">Accueil</a></li>
		<li>
			<a href="#">Kinésithérapie</a>
			<ul>
				<li><a href="{{.Site.BaseURL}}kinesitherapie/therapeutique">Thérapeutique</a></li>
				<li><a href="{{.Site.BaseURL}}kinesitherapie/prevention">Prévention</a></li>
				<li><a href="{{.Site.BaseURL}}osteopathie">Ostéopathie</a></li>
			</ul>
		</li>
		<li><a href="{{.Site.BaseURL}}bien-etre">Bien-Etre</a></li>
		<li><a href="{{.Site.BaseURL}}a-propos">A Propos</a></li>
		<li><a href="{{.Site.BaseURL}}contact">Rendez-vous</a></li>
	</ul>
</nav>